name: java CI with maven

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

  workflow_dispatch:

jobs:
  init:
    runs-on: judong

    outputs:
      version: ${{ steps.version.outputs.version }}
      msg: ${{ steps.context.outputs.commitMsg }}
      shortCommitId: ${{ steps.context.outputs.shortCommitId }}
      branch: ${{ steps.context.outputs.branch }}
      
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
        
      - name: Project context
        id: context
        uses: zero88/gh-project-context@v1.1

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'zulu'

      - name: Calculate version number
        id: version
        run: |-
          TAG_NAME=$(echo "${{ steps.context.outputs.branch }}" | cut -d ' ' -f2 | tr '#\/\.-' '_')
          BASE_VERSION=$(./mvnw org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate -Dexpression=project.version -q -DforceStdout | cut -d'-' -f 1)
          VERSION_NUMBER=${BASE_VERSION}.$(date +%Y%m%d_%H%M%S)_${{ steps.context.outputs.shortCommitId }}_${TAG_NAME//[(\)]}
          echo "Base version from POM: $BASE_VERSION"
          echo "Building version: ${VERSION_NUMBER}"
          echo "::set-output name=version::${VERSION_NUMBER}"

      - name: List GPG keys
        run: gpg --list-keys


  build:
    runs-on: judong
    needs: init
    steps:

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'zulu'
          gpg-private-key: ${{ secrets.GPG_SECRET_KEYS }}
          gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: Remove settings.xml
        run: rm /root/.m2/settings.xml
          
      - name: Setup maven settings.xml
        uses: whelk-io/maven-settings-xml-action@v20
        with:
          servers: >
            [
                {
                    "id": "judong-nexus-mirror",
                    "username": "${{ secrets.JUDONG_NEXUS_USERNAME }}",
                    "password": "${{ secrets.JUDONG_NEXUS_PASSWORD }}"
                },
                {
                    "id": "judong-nexus-distribution",
                    "username": "${{ secrets.JUDONG_NEXUS_USERNAME }}",
                    "password": "${{ secrets.JUDONG_NEXUS_PASSWORD }}"
                }
            ]

          mirrors: >
            [
                {
                    "id": "judong-nexus-mirror",
                    "mirrorOf": "*",
                    "url": "https://nexus.judo.technology/repository/maven-judong/"
                 }
            ]

          profiles: >
            [
                {
                    "id": "judong-release",
                    "properties": {
                        "altDeploymentRepository": "judong-nexus-distribution::https://nexus.judo.technology/repository/maven-judong/"
                    }
                },
                {
                    "id": "dummy-release",
                    "properties": {
                        "altDeploymentRepository": "dummy::file:///tmp/maven-release/"
                    }
                }
            ]


      - name: Print settings.xml
        run: cat /root/.m2/settings.xml

      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2-

      - name: Build with Maven
        run: |-
          ./mvnw -B -Dstyle.color=always \
          -Drevision=${{ needs.init.outputs.version }} \
          -Psign-artifacts,judong-release \
          -DaltDeploymentRepository:judong-nexus-distribution::https://nexus.judo.technology/repository/maven-judong/ \
          deploy
          
      - name: Create success message
        if: ${{ !failure() }}
        run: |-
          echo ":check_mark_button: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}" > build.msg
          echo "Version: ${{ needs.init.outputs.version }}" >> build.msg
          echo "Commit: ${{ needs.init.outputs.msg }}" >> build.msg
          
      - name: Create faliure message
        if: ${{ failure() }}
        run: |-
          echo ":cross_mark: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}" > build.msg
          echo "Commit: ${{ steps.log.outputs.commitMsg }}" >> build.msg

      - name: Send message to skype
        uses: Eloco/docker-action-send-skype@v2
        if: always()
        with:
          skype_username: ${{ secrets.SKYPE_USERNAME }}
          skype_password: ${{ secrets.SKYPE_PASSWORD }}
          skype_ids: 19:453c1f8dd6f04726b767c37efd80341f@thread.skype
          send_msg_path: build.msg

      